/*
body {
	/* padding: 0;
  margin: auto; 
	justify-content: center;
	align-items: center;
	background-color: azure;
}

.section-center {
	background-color: #e5f1fb;
	height: 200px;
	width: 500px;
	margin: 150px auto;
	border-radius: 3px;
  padding: 5px 25px;
}

/* .grocery-form {

}

.grocery-container {

} */

/*
.section-center .clear-btn {
	/* justify-content: center; */
	/* margin: 5px; 
} 

.clear-btn {
	font: bolder;
	cursor: pointer;

} 

.grocery {
  width: 80%;
 
}

input {
	background-color: azure;
}

*/